/*! default start */
html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}

/*! default end*/
/* global grid start */
.fl {
  float: left;
}

.fr {
  float: right;
}

.fn {
  float: none;
}

.tac {
  text-align: center;
}

.h1_separate {
  text-align: center;
  margin: 0;
}

.wrap {
  margin: 0 auto;
  width: 1000px;
  background-color: aqua;
}

.container {
  margin: 0 auto;
  width: 96%;
  /* 960 / 1000 = 96% */
  height: 2000px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.col_tf {
  width: 25%;
  /* 960 / 4 = 240 / 960 = 0.25 */
  background-color: azure;
}

.col_tt {
  width: 33.3333333%;
  /* 960 / 3 = 320 / 960 = 0.333333333 */
  background-color: azure;
}

.col_ff {
  width: 50%;
  /* 960 / 2 = 480 / 960 = 0.50 */
  background-color: azure;
}

.col_ss {
  width: 66.6666666%;
  /* 960 - 320 = 640 / 960 = 0.666666666 */
  background-color: azure;
}

.col_sf {
  width: 75%;
  /* 960 / 4 = 240 * 3 720 / 960 = .75 */
  background-color: azure;
}

.col-oh {
  width: 100%;
  /* 960px */
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* global grid end */
/* logo block start*/
.logo {
  text-align: center;
  padding-top: 15px;
}

div[class="logo"] > img {
  display: inline-block;
  width: 130px;
  height: 130px;
}

/* logo block end */
/* slogan block start */
.w_slogan {
  height: 150px;
  text-align: center;
  display: inline-block;
}

.slogan {
  color: brown;
  vertical-align: baseline;
}

/* slogan block end */
/* address and phone block start */
.adress {
  text-align: center;
  margin-top: 20xp;
  padding: 0;
}

.adress > a {
  text-decoration: none;
  color: black;
}

.metro {
  text-align: center;
  margin-top: -20px;
  color: lightgray;
}

.phone {
  text-align: center;
  margin-top: -10px;
}

.callme {
  text-align: center;
  margin-top: -22px;
}

/* address and phone block end*/
/* horisontal menu start */
div[class="col_oh"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: aqua;
  clear: both;
}

div[class="col_oh"] > ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

div[class="col_oh"] > ul > li {
  background-color: aqua;
  display: inline-block;
}

div[class="col_oh"] > ul > li > a {
  background-color: coral;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: black;
  width: 100px;
}

div[class="col_oh"] > ul > li > a:hover {
  background-color: khaki;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

/* horisontal menu end */
/* slideshow start */
.slideshow {
  width: 100%;
  height: 250px;
  background-color: burlywood;
}

/* slideshow end*/
/* block of direction four in row start*/
.block_direction {
  width: 95%;
  height: 300px;
  background-color: cadetblue;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* block of direction four in row end*/
/* block of direction new four in row start*/
.block_direction_new {
  height: 300px;
  background-color: cadetblue;
  display: inline-block;
  margin: 0;
  padding: 0;
  border-left: 2px solid black;
}

/* block of direction new four in row end*/
/* block of team four in row start*/
.leader {
  height: 600px;
  background-color: cornflowerblue;
}

.member {
  height: 150px;
  background-color: crimson;
  border: 1px solid black;
}

/* block of team four in row end*/
/*! box-sizing start*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*! box-sizing end*/
/*!normalize start*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/*!normalize end*/

/*# sourceMappingURL=style.css.map */
