/*! default start */
html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}

//.redbox {
//  width: 100px;
//  height: 200px;
//  background-color: red;
//}
/*! default end*/

/* global grid start */

.fl {
  float: left;
}

.fr {
  float: right;
}

.fn {
  float: none;
}

.tac {
   text-align: center;
}

.h1_separate {
    text-align: center;
  margin:0;
}

.wrap {
  margin: 0 auto;
  width: 1000px;
  background-color:aqua;
}

.container {
  margin: 0 auto;
  width: 96%; /* 960 / 1000 = 96% */
  height: 2000px;
//  background-color:bisque;
  box-shadow: 0 0 0 1px rgba(0,0,0, 0.2)
}

.col_tf {
  width: 25%; /* 960 / 4 = 240 / 960 = 0.25 */
  background-color: azure;
}

.col_tt {
   width: 33.3333333%; /* 960 / 3 = 320 / 960 = 0.333333333 */
   background-color: azure;
}

.col_ff {
 width: 50%; /* 960 / 2 = 480 / 960 = 0.50 */
  background-color: azure;
}

.col_ss {
  width: 66.6666666%; /* 960 - 320 = 640 / 960 = 0.666666666 */
  background-color: azure;
}

.col_sf {
  width: 75%; /* 960 / 4 = 240 * 3 720 / 960 = .75 */
  background-color: azure;
}

.col-oh {
  width: 100%; /* 960px */
  display: inline-block;
  margin:0;
  padding:0;
//  background-color:bisque;
}
/* global grid end */

/* logo block start*/
.logo {
//  background-color: black;
  text-align: center;
  padding-top: 15px;
}

div[class="logo"] > img {
  display: inline-block;
  width: 130px;
  height: 130px;
}
/* logo block end */



/* slogan block start */
.w_slogan {

  height: 150px;
  text-align: center;
//  background-color: aquamarine;
//  margin-top: 20px;
  display: inline-block;
}

.slogan {
  color: brown;
//  background-color: azure;
  vertical-align: baseline;
}
/* slogan block end */

/* address and phone block start */

.adress {
  text-align: center;
  margin-top: 20xp;
  padding:0;

}

.adress > a {
  text-decoration: none;
  color: black;
}

.metro {
  text-align: center;
  margin-top: -20px;
  color:lightgray;

}

.phone {
  text-align: center;
  margin-top: -10px;

}


.callme {
  text-align: center;
  margin-top: -22px;
}

/* address and phone block end*/


/* horisontal menu start */
div[class="col_oh"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:aqua;
  clear:both;
}
div[class="col_oh"] > ul {
  margin:0;
  padding:0;
  text-align: center;

}
div[class="col_oh"] > ul > li {
  background-color: aqua;
  display: inline-block;


}
div[class="col_oh"] > ul > li > a {
  background-color:coral;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: black;
  width: 100px;
}
div[class="col_oh"] > ul > li > a:hover {
  background-color:khaki;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-left: 5px;
  padding-right: 5px;
}
/* horisontal menu end */

/* slideshow start */
.slideshow {
 width: 100%;
 height: 250px;
 background-color:burlywood;
}
/* slideshow end*/

/* block of direction four in row start*/
.block_direction {
  width: 95%;
  height: 300px;
  background-color:cadetblue;
  display: inline-block;
  margin: 0;
  padding: 0;
}
/* block of direction four in row end*/
/* block of direction new four in row start*/
.block_direction_new {
  height: 300px;
  background-color:cadetblue;
  display: inline-block;
  margin: 0;
  padding: 0;
  border-left: 2px solid black;
}
/* block of direction new four in row end*/

/* block of team four in row start*/

.leader {
  height: 600px;
  background-color:cornflowerblue;
}

.member {
  height: 150px;
  background-color:crimson;
  border: 1px solid black;
}
/* block of team four in row end*/
